<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-label class="ion-text-center">
            <span
              style="
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
              "
            >
              <h2>Welcome Back ,</h2>
              <ion-icon
                name="happy-outline"
                size="large"
                color="success"
              ></ion-icon
            ></span>
            <h1 style="font-weight: bold; font-size: 1.75rem">Sign in</h1>
          </ion-label>
        </ion-col>
      </ion-row>
      <form [formGroup]="loginForm" (ngSubmit)="userSignIn(loginForm)">
        <ion-row>
          <ion-col>
            <ion-item className="ion-padding" lines="none" fill="outline">
              <ion-icon name="mail-outline" />
              <ion-input
                className="ion-margin-left"
                placeholder="Email"
                labelPlacement="stacked"
                type="email"
                autocomplete="false"
                autocorrect="false"
                formControlName="email"
                name="email"
                id="email"
                mode="ios"
              />
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item className="ion-padding" lines="none" fill="outline">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-input
                className="ion-margin-left"
                placeholder="Password"
                labelPlacement="stacked"
                type="password"
                autocomplete="false"
                autocorrect="false"
                formControlName="password"
                name="password"
                id="password"
                mode="ios"
              />
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row className="ion-text-center ">
          <ion-col class="ion-margin">
            <ion-button
              expand="block"
              color="dark"
              fill="outline"
              type="submit"
              mode="ios"
            >
              Login <ion-spinner *ngIf="isLoading" color="dark" name="crescent"></ion-spinner
            ></ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>

<ion-toast
  [isOpen]="isToastOpen"
  (didDismiss)="openToastHandler(false)"
  message="{{toastMessage}}"
  color="success"
  duration="1500"
  mode="ios"
  position="top"
/>
